$utilities: () !default;

$utilities: map-merge(
    (
        "font-size-small": (
            property: font-size,
            class: 'tx-small',
            values: (
                0: 1rem,        // 16px
                1: 0.875rem,    // 14px
                2: 0.8125rem,   // 13px
                3: 0.75rem,     // 12px
                4: 0.6875rem,   // 11px
                5: 0.625rem,    // 10px
            ),
        ),
        'object-fit': (
            property: object-fit,
            class: object,
            values: cover contain,
        ),
        'aspect-ratio': (
            property: aspect-ratio,
            class: ratio,
            values: (
                'square': unquote("1/1")
            ),
        ),
        'background-color': (
            property: background-color,
            class: bg,
            local-vars: (
                "bg-opacity": 1
            ),
            values: map-merge($utilities-bg-colors, $custom-colors)
        ),
        'letter-spacing': (
            property: letter-spacing,
            class: ls,
            values: (
                0\.5: 0.5px,
                1: 1px,
                2: 1.5px,
                3: 2px
            ),
        ),
    ),
    $utilities
);

.nice-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(224, 224, 224);
        &:hover {
            background: rgb(199, 199, 199);
        }
    }
}