$enable-negative-margins:       true;
$min-contrast-ratio:            1.5;
$enable-smooth-scroll:          false;

// $font-family-base:      'Barlow', sans-serif;
// $headings-font-family:  'Bebas Neue', cursive;
// $headings-font-weight: 600;
// $headings-margin-bottom: 1rem;
// $link-decoration: none;

$tertiary: blue;

$custom-colors: (
    'tertiary': $tertiary,
);

//-- MIXINS
@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}